@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color:rgba(0, 35, 7, .8);
	color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: rgba(64, 167, 126, 0.6);
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(1, 1, 1, .3);
	}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: #38d74f;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #38d74f;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;	
	text-align: center;
}
.fa-brands{
	margin: 10px 33.9px;
	cursor: pointer;
transition: color	0.2s;	
}
.fa-brands:hover{
	color: #38d74f;
}
.login-page {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.login-page input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.login-page input:focus,
.login-page input:valid {
  outline: 0;
  border-bottom-color:#38d74f;
}

.login-page label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.login-page label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.login-page input:focus + label span,
.login-page input:valid + label span {
  color: #38d74f;
  transform: translateY(-30px);
}